# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
node_modules/
dist/
dist-ssr/

# Ignorer pakkeadministrasjon
# (fjern package-lock.json her hvis du vil beholde den i Git)
package-lock.json

# ML-modeller
models/saved_model.pb
models/variables/

# Miljøfiler og sensitive data
.env
.env.local
.env.development
.env.production
config.json
secrets.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorer Python virtuelle miljøer og filer
venv/
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints
*.sqlite3
instance/

# OS-spesifikke filer
Thumbs.db
desktop.ini
